<div class="modal fade" tabindex="-1" role="dialog" id="statisticModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Статистика:</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-12 text-align-center">
            <p>Всего литров продано: <span id="statisticLitres"></span></p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 text-align-center">
            <p>Всего заработано: <span id="statisticSum"></span></p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 text-align-center">
            <p>Всего отдано бесплатных литров: <span id="statisticFree"></span></p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 text-align-center">
            <p>Лучший продавец: <span id="statisticSaler"></span>. Она продала: <span id="statisticSold"></span> литров</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
