<%- include('header') %>
<%- include('modals/statistic.ejs') %>

<div class="row mt-5 justify-content-center">
    <input type="text" name="selectDay" />
</div>

<div class="container-fluid">
    <div class="row border-bottom mt-3">
        <div class="col-md-2">
            <p class="mt-3 black">Продавец</p>
        </div>
        <div class="col-md-2">
            <p class="mt-3 black">Дата</p>
        </div>
        <div class="col-md-2">
            <p class="mt-3 black">Литры</p>
        </div>
        <div class="col-md-2">
            <p class="mt-3 black">Сумма</p>
        </div>
        <div class="col-md-2">
            <p class="mt-3 black">Покупатель</p>
        </div>
        <div class="col-md-2">
            <p class="mt-3 black">Бесплатный литр</p>
        </div>
    </div>
    <div class="wrapper"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="../script/statistic.js"></script>